/*font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;*/

body {

}

.title-box{
  padding-top: 20px;
}

h1, h5{
  font-family: 'Merriweather', serif;
  margin: auto;
}

h5{
  font-style: italic;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.header-image{
 width: 100%;
 height: 400px;
 background: url('https://photos.google.com/photo/AF1QipNbfLdu_Lu1LIyiAf0SaYFxxVH5aEzTCbWnst1_');
 background-size: cover;

}
