/*font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;*/

body {

}

h1, h5{
  font-family: 'Merriweather', serif;
}

.header-image{
 width: 100%;
 height: 400px;
 background: url('header.jpg');
 background-size: cover;

}
